

NET "LED_RED" LOC = P203 | IOSTANDARD = LVTTL;
NET "LED_GREEN" LOC = P24 | IOSTANDARD = LVTTL;

NET "ADC_SDATA"       LOC = P30 | IOSTANDARD = LVTTL;
NET "ADC_SCLK"        LOC = P31 | IOSTANDARD = LVTTL;
NET "ADC_SLOAD"       LOC = P33 | IOSTANDARD = LVTTL;
NET "ADC_DATA<0>" LOC = P34 | IOSTANDARD = LVTTL;
NET "ADC_DATA<1>" LOC = P35 | IOSTANDARD = LVTTL;
NET "ADC_DATA<2>" LOC = P36 | IOSTANDARD = LVTTL;
NET "ADC_DATA<3>" LOC = P39 | IOSTANDARD = LVTTL;
NET "ADC_DATA<4>" LOC = P40 | IOSTANDARD = LVTTL;
NET "ADC_DATA<5>" LOC = P41 | IOSTANDARD = LVTTL;
NET "ADC_DATA<6>" LOC = P42 | IOSTANDARD = LVTTL;
NET "ADC_DATA<7>" LOC = P47 | IOSTANDARD = LVTTL;
//-----------------------------
NET "ADC_CDS1"    LOC = P50 | IOSTANDARD = LVTTL;
NET "ADC_CDS2"    LOC = P49 | IOSTANDARD = LVTTL;
NET "ADC_CLK"   LOC = P48 | IOSTANDARD = LVTTL;

// CCD block
NET "CCD_CR"  LOC = P103 | IOSTANDARD = LVTTL;
NET "CCD_TGZ" LOC = P100 | IOSTANDARD = LVTTL;
NET "CCD_A1T" LOC = P99  | IOSTANDARD = LVTTL;
NET "CCD_A4T" LOC = P97  | IOSTANDARD = LVTTL;
NET "CCD_TGY" LOC = P96  | IOSTANDARD = LVTTL;
NET "CCD_A3T" LOC = P94  | IOSTANDARD = LVTTL;
NET "CCD_A2T" LOC = P93  | IOSTANDARD = LVTTL;
NET "CCD_A2B" LOC = P90  | IOSTANDARD = LVTTL;
NET "CCD_A3B" LOC = P89  | IOSTANDARD = LVTTL;
NET "CCD_TGX" LOC = P82  | IOSTANDARD = LVTTL;
NET "CCD_A4B" LOC = P78  | IOSTANDARD = LVTTL;
NET "CCD_A1B" LOC = P77  | IOSTANDARD = LVTTL;
NET "CCD_TGW" LOC = P76  | IOSTANDARD = LVTTL;
NET "CCD_RG"  LOC = P75  | IOSTANDARD = LVTTL;
NET "CCD_SG"  LOC = P74  | IOSTANDARD = LVTTL;
NET "CCD_C2X" LOC = P69  | IOSTANDARD = LVTTL;
NET "CCD_C1X" LOC = P68  | IOSTANDARD = LVTTL;
NET "CCD_C3X" LOC = P65  | IOSTANDARD = LVTTL;
NET "CCD_C3W" LOC = P64  | IOSTANDARD = LVTTL;
NET "CCD_C2W" LOC = P63  | IOSTANDARD = LVTTL;
NET "CCD_C1W" LOC = P62  | IOSTANDARD = LVTTL;

// DRV block
NET "DRV_MAX" LOC = P190 | IOSTANDARD = LVTTL;
NET "DRV_V11" LOC = P164 | IOSTANDARD = LVTTL;
NET "DRV_TG"  LOC = P189 | IOSTANDARD = LVTTL;
NET "DRV_LVL" LOC = P102 | IOSTANDARD = LVTTL;

NET "POWER_ON" LOC = P200 | IOSTANDARD = LVTTL;

//============================Cypress CY7C68013A-56
NET "fx2Clk_in"       LOC="P177"     | IOSTANDARD=LVTTL | PERIOD = 20833 ps;   # IFCLK
NET "fx2Addr_out<0>"  LOC = "P132"   | IOSTANDARD = LVTTL;  // # PA4/FIFOADR0
NET "fx2Addr_out<1>"  LOC = "P129"   | IOSTANDARD = LVTTL;  // # PA5/FIFOADR1
NET "fx2Data_io<0>"   LOC = "P153"   | IOSTANDARD = LVTTL;  // # PB0/FD0
NET "fx2Data_io<1>"   LOC = "P152"   | IOSTANDARD = LVTTL;  // # PB1/FD1
NET "fx2Data_io<2>"   LOC = "P151"   | IOSTANDARD = LVTTL;  // # PB2/FD2
NET "fx2Data_io<3>"   LOC = "P150"   | IOSTANDARD = LVTTL;  // # PB3/FD3
NET "fx2Data_io<4>"   LOC = "P147"   | IOSTANDARD = LVTTL;  // # PB4/FD4
NET "fx2Data_io<5>"   LOC = "P146"   | IOSTANDARD = LVTTL;  // # PB5/FD5
NET "fx2Data_io<6>"   LOC = "P145"   | IOSTANDARD = LVTTL;  // # PB6/FD6
NET "fx2Data_io<7>"   LOC = "P144"   | IOSTANDARD = LVTTL;  // # PB7/FD7
NET "fx2Read_out"     LOC = "P107"   | IOSTANDARD = LVTTL;  // # RDY0/SLRD
NET "fx2OE_out"       LOC = "P134"   | IOSTANDARD = LVTTL;  // # PA2/SLOE
NET "fx2GotData_in"   LOC = "P138"   | IOSTANDARD = LVTTL;  // # CTL2/FLAGC
NET "fx2Write_out"    LOC = "P106"   | IOSTANDARD = LVTTL;  // # RDY1/SLWR
NET "fx2GotRoom_in"   LOC = "P139"   | IOSTANDARD = LVTTL;  // # CTL1/FLAGB
NET "fx2PktEnd_out"   LOC = "P128"   | IOSTANDARD = LVTTL;  // # PA6/PKTEND

NET "SHUTTERon"       LOC = "P28"  | IOSTANDARD = LVTTL;
NET "SHUTTERoff"      LOC = "P29"  | IOSTANDARD = LVTTL;

# FX2 timing constrains
#INST "fx2Addr_out<*>" 	 TNM = USB_DATA_IN;
#TIMEGRP "USB_DATA_IN" OFFSET =  IN  9.0 ns BEFORE "fx2Clk_in" TIMEGRP "USB_DATA_IN" RISING;
#TIMEGRP "USB_DATA_IN" OFFSET = OUT 10.0 ns AFTER  "fx2Clk_in" TIMEGRP "USB_DATA_IN" RISING;

#NET "fx2GotRoom_in" 	 OFFSET =  IN  7.0 ns BEFORE "fx2Clk_in" RISING;
#NET "fx2GotData_in" 	 OFFSET =  IN  6.4 ns BEFORE "fx2Clk_in" RISING;
#NET "fx2Write_out"    OFFSET = OUT 11.0 ns AFTER  "fx2Clk_in" RISING;
#NET "fx2Read_out" 	 OFFSET = OUT 11.0 ns AFTER  "fx2Clk_in" RISING;	
#NET "fx2PktEnd_out" 	 OFFSET = OUT  8.4 ns AFTER  "fx2Clk_in" RISING;
#NET "fx2OE_out" 		 OFFSET = OUT 11.0 ns AFTER  "fx2Clk_in" RISING;
#NET "fx2Addr_out<0>"	 OFFSET = OUT  9.9 ns AFTER  "fx2Clk_in" RISING;
#NET "fx2Addr_out<1>"	 OFFSET = OUT 10.0 ns AFTER  "fx2Clk_in" RISING;
